*   {
	box-sizing: border-box;
	}	

body{
	background-color: lemonchiffon;
	text-align: center;
	}




.question{
	border: 10px solid green;
	font-size: 50px;
	display: block;
	text-align: center;
	color: green;
	padding-bottom: 0px;
	}

.actualQuestion{
			font-size: 20px;
			border: 5px black;
			text-align: center;
			padding-bottom: 20px;
			}

button {

}

input{

}

input:hover{

}

button#begin:hover{
	background-color: green;

}

button#begin{
	font-family: cursive;
	font-size: 40px;
	box-shadow: 10px 10px 5px grey;
	border-radius: 25px;
	background-color: red;
	width: 240px;
	height: 75px;
	text-align: center;
}


input#resetDizzle  {
	text-align: center;
	font-family: cursive;
	font-size: 40px;
	box-shadow: 10px 10px 5px grey;
	border-radius: 25px;
	background-color: red;
	width: 500px;
	height: 75px;
		}

#resetDizzle:hover{
	background-color: yellow;
}

button#promptButton:hover{
	background-color: white;
}

button#promptButton {
	font-family: cursive;
	font-size: 40px;
	box-shadow: 10px 10px 5px grey;
	border-radius: 25px;
	background-color: red;
	width: 750px;
	height: 75px;
	text-align: center;
}

input#submitButton {
	border-radius: 20px;
	width: 100px;
	height: 40px;
	box-shadow: 10px 10px 5px grey;
}

input#textBox{
	font-size: 25px;
}

p  {
	font: green;
	}