body{
	background-color: lemonchiffon;
	text-align: center;

}

ul{
	 list-style-type: none;
}

li {
	margin: 3em 0em 0em 0em;
}

/* normal link */
a {
	transition: all 2s ease;
	font-size: 1em;
}

/* unvisited link */
a:link {
    color: #FF0000;
    text-decoration: none;
    /*background-color: lemonchiffon;*/
}

/* visited link */
a:visited {
    color: #00FF00;
    text-decoration: none;
    background-color: #FFFF85;
}

/* mouse over link */
a:hover {
		transition: all 1s ease;
    font-size: 1em;
    color: purple;
    text-decoration: underline;
    background-color: lemonchiffon;
}

/* selected link */
a:active {
    color: #0000FF;
    text-decoration: underline;
    background-color: #FF704D;
}
